@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

body {
  background-image: url(https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80);
}

/* Header Section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: #e6dddd;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px #da9797;
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  color: #0077b6;
  text-shadow: 2px 2px #fff;
}

.hamburger {
  display: none;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 1.5rem;
  transition: all 0.3s ease-in-out;
}

nav li:hover {
  transform: translateY(-2px);
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
}

nav a:hover {
  color: #0077b6;
  background-color: #fff;
  border-radius: 0.5rem;
}

/* Profile Photo Section */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.profile-pic img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(185, 173, 173, 0.3);
  transition: transform 0.2s ease-in-out;
}

.profession {
  margin-top: 20px;
  background-color: #252525;
  color: #fff;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* About me Section */
.name {
  font-weight: bold;
  color: #ff5a5f;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about-me-section {
  background-color: #f2f2f2;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.about-me-section h2 {
  font-size: 30px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.experience-section {
  background-color: #d9d9d9;
  padding: 40px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.experience-section h2 {
  font-size: 30px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.experience-section ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
}

.experience-section li {
  font-size: 20px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 10px;
}

/* Project Section */
.projects {
  padding: 20px;
  color: #fff;
}

.projects h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.projects-list a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #424040;
  margin-bottom: 10px;
}

.projects-list p {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.projects-list li {
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.play-game {
  background-color: #a8bfd8;
  color: #fff;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.play-game:hover {
  transform: scale(1.1);
}

/* Download Section */
li a[href$=".pdf"][download] {
  display: inline-flex;
  align-items: center;
  background-color: #748791;
  color: #fff;
  padding: 0 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

li a[href$=".pdf"][download]:hover {
  background-color: #4da6ff;
}

li a[href$=".pdf"][download]::before {
  content: "\21E9";
  font-size: 1.2em;
  margin-right: 10px;
}

/* Contact me Form */

.contact-me-section {
  color: #333;
  margin: 50px 500px;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-me-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.contact-me-section p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
  color: #555;
}

.contact-me-section form {
  max-width: 400px;
  margin: 0 auto;
}

.contact-me-section label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.contact-me-section input,
.contact-me-section textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.contact-me-section textarea {
  height: 150px; /* Adjust the height as needed */
}

.contact-me-section button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.contact-me-section button:hover {
  background-color: #0056b3;
}

/* Footer */
footer {
  background-color: #4e4e4e;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 30px;
  margin: 0 10px;
}

footer p {
  font-size: 16px;
}

/* Header Media  */
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
  }

  .menu li {
    margin: 1rem 0;
  }

  .menu a {
    display: block;
    padding: 1rem;
  }

  .menu a:hover {
    background-color: #ccc;
  }

  .show-menu {
    display: flex;
  }
}

/* Profile Photo Media Query  */
@media screen and (max-width: 768px) {
  .profile-pic img {
    width: 150px;
    height: 150px;
  }

  .profile-pic p {
    font-size: 16px;
  }
}
/* About me Media Query */
@media screen and (max-width: 768px) {
  .about-me img {
    width: 150px;
    height: 150px;
  }

  .about-me h2 {
    font-size: 20px;
  }

  .about-me p {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .experience-section {
    padding: 20px;
    margin: 10px;
  }

  .experience-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .experience-section li {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

/* Download Media Query */
@media only screen and (max-width: 768px) {
  li a[href$=".pdf"][download] {
    padding: 8px 16px;
    font-size: 14px;
  }

  li a[href$=".pdf"][download]::before {
    font-size: 1em;
    margin-right: 5px;
  }
}

/* Contact me Media Query */
@media only screen and (max-width: 768px) {
  .contact-me {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

  .contact-me h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }

  form {
    max-width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  label {
    font-size: 18px;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    padding: 12px;
    font-size: 20px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }

  button[type="submit"] {
    padding: 5px 22px;
    font-size: 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-self: center;
  }
}

/* Footer Media Query */
@media screen and (max-width: 768px) {
  footer {
    padding: 10px;
  }

  .social-icons {
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 5em;
  }

  .social-icons a {
    margin: 5px;
  }
}
